# I'm uncertain how to "include" this file so I'm hard-coding values.
# Leiningen.gitignore
/repl
/target
/lib
/classes
/checkouts
/resources/public/js/*
/out
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-cljsbuild*
.lein-repl*
.crossover-cljs
.repl*
.nrepl-port

# IntelliJ files
.idea/workspace.xml
.idea/tasks.xml
.idea/libraries

# Figwheel files
figwheel_server.log

# Backup files
*~

# Editor files
*swp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
